<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Julian Mauricio Correa Martinez</h1>
        <h3 class="tw" #tw></h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;" class="iconos">
        <a href="https://www.linkedin.com/in/julian-mauricio-correa-martinez-58a355257?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BDX5DQikjR6WnxMwxe7R2AA%3D%3D" target="_blank" class="">
            <img src="img/linkedin.png" width="24" height="24" class="rounded-circle me-2">
        </a>

        <a href="https://github.com/JulianMCM" target="_blank" class="">
            <img src="img/github2.png" width="24" height="24" class="rounded-circle me-2">
        </a>
    </div>
</div>