<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contacto</h1>
        <p>Me puedes contactar en el siguiente correo electrónico: <b>julianmcm98&#64;gmail.com</b></p>
        <p>No dudes en conectarte conmigo en cualquiera de las siguientes plataformas:</p>
    </div>
    <div class="contenedor">
    <div class="list-group" id="link">
        <a href="https://www.linkedin.com/in/julian-mauricio-correa-martinez-58a355257?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BDX5DQikjR6WnxMwxe7R2AA%3D%3D" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="img/linkedin.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">LinkedIn</h3>
        </a>

        <a href="https://github.com/JulianMCM" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="img/github.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Github</h3>
        </a>
    </div>
</div>
</div>

